/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  .h1 {
    @apply font-medium;
    font-size: clamp(theme('fontSize.huge-min'), 6vw, theme('fontSize.huge-max'));
    font-family: theme('fontFamily.display');
    line-height: 1.3;
  }

  h2,
  .h2 {
    @apply font-medium;
    font-size: clamp(2.35rem, 4vw, 3.1rem);
    font-family: 'Plus Jakarta Sans';
  }

  h3,
  .h3 {
    @apply text-lg font-medium;
    font-family: 'Plus Jakarta Sans';
  }

  div,
  p,
  .base {
    @apply text-base font-normal;
    font-family: 'Plus Jakarta Sans';
  }
  
  .section-title {
    @apply font-medium;
    font-size: clamp(2.35rem, 4vw, 3.1rem);
    font-family: 'Plus Jakarta Sans'; 
  }

  .content-section {
    /* @apply max-w-xxl mx-auto px-4 sm:px-8 lg:px-20;  */
    @apply mx-auto px-4 sm:px-10;
  }

  .services-grid {
    @apply max-w-6xl mx-auto grid grid-cols-1 grid-rows-1 lg:grid-cols-2 lg:grid-rows-2 gap-y-20 lg:gap-y-32;
    display: grid;
    column-gap: clamp(30px, 8vw, 200px);
    width: fit-content;
  }

  button,
  .button {
    @apply bg-white text-tiny px-5 py-1;
    border: 1px solid theme('colors.text.DEFAULT');
  }
  button:hover,
  .button:hover {
    @apply text-white bg-primary transition-colors;
  }
  .button-lg {
    @apply bg-white text-sm px-7 py-4;
    border: 1px solid theme('colors.text.DEFAULT');
  }
  .button-lg:hover {
    @apply text-white bg-primary transition-colors;
  }
}

@layer base {
  @font-face {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    src: url(/fonts/PlusJakartaSans-Regular.woff2) format('woff2'),
      url(/fonts/PlusJakartaSans-Regular.woff) format('woff');
  }
  @font-face {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    src: url(/fonts/PlusJakartaSans-Medium.woff2) format('woff2'),
      url(/fonts/PlusJakartaSans-Medium.woff) format('woff');
  }
  @font-face {
    font-family: Plus Jakarta Sans;
    font-weight: 800;
    src: url(/fonts/PlusJakartaSans-Bold.woff2) format('woff2'),
      url(/fonts/PlusJakartaSans-Bold.woff) format('woff');
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @apply bg-background;
    overflow-x: hidden;
  }
  body {
    /* background: white; */
    @apply bg-background font-normal;
  }
}
