/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  .h1 {
    @apply text-xl-400 font-bold lg:text-xl;
    font-family: 'Plus Jakarta Sans';
    line-height: 1.2;
  }
  h2,
  .h2 {
    @apply text-xl-400 font-bold;
    font-family: 'Plus Jakarta Sans';
  }
  h3,
  .h3 {
    @apply text-lg font-bold;
    font-family: 'Plus Jakarta Sans';
  }
  p,
  div,
  .base {
    @apply text-base font-normal;
    font-family: 'Plus Jakarta Sans';
  }

  .content-section {
    @apply max-w-xxl mx-auto px-4 sm:px-8 lg:px-20;
  }
}

@layer base {
  @font-face {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    src: url(/fonts/PlusJakartaSans-Regular.woff2) format('woff2'),
      url(/fonts/PlusJakartaSans-Regular.woff) format('woff');
  }
  @font-face {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    src: url(/fonts/PlusJakartaSans-Medium.woff2) format('woff2'),
      url(/fonts/PlusJakartaSans-Medium.woff) format('woff');
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @apply bg-background;
  }
  body {
    /* background: white; */
    @apply bg-background font-normal;
  }
}
